@tailwind base;
@tailwind components;
@tailwind utilities;

.linkText {
  text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
}
.active {
  border-bottom: 3px solid rgb(202, 138, 4);
  border-top: 3px solid rgb(202, 138, 4);

  transition: all 0.3s ease-in-out;
}
